/* body{
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("../EventifyImages/BackgroundImage.png");
    background-color: #000;
    background-repeat: no-repeat;background-size: 100% 100%
} */
.card {
    width: 80vw;         /* 70% of the viewport width */
    height: 90vh;        /* 70% of the viewport height */
    padding: 10px 10px;
    margin: 10px auto;   /* Vertically spaced, centered horizontally */
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #292424;  /* Optional: adds contrast */
    border-radius: 10px;     /* Optional: for rounded corners */
}
.blue-text{
    color: #00BCD4
}
.form-control-label{
    margin-bottom: 0
}
input, textarea, button{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #161414;
    font-size: 18px !important;
    font-weight: 300
}
input:focus, textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;font-weight: 400
}
.btn-block{
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;height: 43px;
    cursor: pointer
}
.btn-block:hover{
    color: #fff !important
}button:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
.btn{
    margin-top: 15px;
}